:root {
  --tropical-indigo: #7e84fa;
}

.gsl-chart-axis {
  line {
    stroke: #efefef;
    stroke-width: 1px;
  }
  text {
    stroke: none;
    fill: #efefef;
  }
}

.gsl-chart-line {
  stroke: var(--tropical-indigo);
  stroke-width: 2px;
  fill: none;
}

.gsl-chart-bar {
  fill: var(--tropical-indigo);
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growBar {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
