.gsl-chart-axis {
  line {
    stroke: #efefef;
    stroke-width: 1px;
  }
  text {
    stroke: none;
    fill: #efefef;
  }
}

.gsl-chart-line {
  stroke: #0085ca;
  stroke-width: 2px;
  fill: none;
}
